body{
  background-color: rgb(243, 247, 180);
}


.name{
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-decoration-line: underline;
}

.center{
  text-align: center;
  font-size: x-large;
  letter-spacing: 0.5ch;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  /* text-decoration-line:underline; */
}

span{
  color: rgb(97, 120, 226);
}

.divide{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.Student{
  flex: 0 0 40%;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.Admin{
    flex: 0 0 40%;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.head{
  font-weight: bold;
  letter-spacing: 0.2ch;
  /* text-decoration: underline; */
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}